body {
    background-color: rgb(24, 56, 14);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

.button{
    color: black;
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    background-color: red;
}
}